/* css styles */

/* le corps de la page */
body {
  background-color: #f0f0f0; 
  color: #333333; 
  text-align: justify;
  margin: 0;

}

/*  barre de navigation */
.navbar {
  background-color: #040120;  
  color: white;  /* couleur du texte pour un meilleur contraste */
  margin: 0;
}

/* couleur des liens dans la barre de navigation */
.navbar a {
  color: white ;  
}

.navbar a:hover {
  color: #f0f0f0 ; 
}


.quarto-title-block {
  background-image: url("bleu.jpg");
  padding: 90px;
  background-size: cover;
  color: white;
  text-align: center;
}


/* Suppression des bordures dans le titre h1 */
.quarto-title-block h1.title {
  background-color: transparent;   font-size: 2.5em;
  color: white;
}

/* Autres ajustements pour les éléments supplémentaires */
.quarto-title-block h2.subtitle, 
.quarto-title-block .date, 
.quarto-title-block .categories {
  border: none;  
}

.quarto-title-block-banner {
  border: none;  
  box-shadow: none ;  
  background-color: transparent;  
}